body {
  background-color: #e7f6fe;
  margin: 20px 50px 20px 50px;
}
section {
  background-color: rgb(215, 225, 239);
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
h1 {
  font-family: Lucida Sans;
  color: black;
  text-align: center;
}
h2 {
  font-family: Lucida Sans;
  color: rgb(16, 96, 96);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid lightgray;
  border-radius: 10px;
}
p,
article,
table,
li {
  font-family: Times New Roman;
  font-size: 18px;
  width: 100%;
}
span {
  font-family: Cambria, Cochin;
  display: block;
  text-align: center;
  font-size: medium;
  color: gray;
}
a {
  text-decoration: none;
  color: darkblue;
  display: block;
  text-align: center;
}
a:hover {
  color: darkred;
  text-decoration: underline;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
#skill {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 5px;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
}
footer {
  text-align: center;
}
